@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  background-color: #0A0C1B;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  
}

.main-box {
  background-color: #1B1736;
  max-width: 327px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  
}

.img-box {
  background-color: #9952C4;
}

.img-box img {
  display: block;
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  opacity: 0.7;
  mix-blend-mode: multiply;
}

.content-box {
  padding: 2.5em 1.97em 2em 1.97em;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.upper-content h1 {
  text-align: center;
  font-size: 1.73rem;
  line-height: 1.4;
  
}

.upper-content span {
  color: #ac54d7;
}

.upper-content p {
  text-align: center;
  color: #FFFFFF;
  line-height: 1.8;
  font-size: 0.94rem;
  margin-top: 1.07em;
  opacity: 0.75;
}

.lower-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 24px;
}

.lower-content p {
  text-transform: uppercase;
  font-family: 'Lexend Deca', sans-serif;
  color: #9594A8;
  font-size: 0.8rem;
}

.lower-content h2 {
  margin-bottom: 0.085em;
}

@media only screen and (min-width: 1000px) {

.main-box {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1110px;
}

.img-box {
  width: 50%;
}

.content-box {
  width: 50%;
  padding: 4.438em 5.9375em 3.7em 4.5em;
  align-items: initial;
  gap: 72px;
}

.upper-content h1 {
  text-align: initial;
  font-size: 2.25rem;
}

.upper-content p {
  text-align: initial;
  line-height: 1.7;
  color: hsla(0, 0%, 100%, 0.75);
  margin: 1.665em 0em 0em 0em;
}

.lower-content {
  flex-direction: row;
  text-align: initial;
  gap: 61.5px;
}

}