@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  background-color: #0A0C1B;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  
}

.main-box {
  background-color: #1B1736;
  max-width: 380px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  
}

.img-box {
  background-color: #9952C4;
}

.img-box img {
  display: block;
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  opacity: 0.7;
  mix-blend-mode: multiply;
}

.content-box {
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
}

.upper-content {
  max-width: 256px;
}

.upper-content h1 {
  text-align: center;
  font-size: 1.750rem;
  
}

.upper-content span {
  color: #ac54d7;
}

.upper-content p {
  text-align: center;
  color: #9594A8;
  line-height: 20px;
  font-size: 0.94rem;
  margin-top: 1em;
}

.lower-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 60px;
}

.lower-content p {
  text-transform: uppercase;
  color: #9594A8;
  font-size: 0.8rem;
}

.lower-content h2 {
  margin-bottom: 0.3em;
}

@media only screen and (min-width: 1000px) {

.main-box {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1050px;
  height: 410px;
}

.img-box {
  width: 50%;
}

.content-box {
  width: 50%;
  padding: 3em 3em;
  align-items: initial;
}

.upper-content {
  max-width: none;
}

.upper-content h1 {
  text-align: initial;
}

.upper-content p {
  text-align: initial;
  line-height: 1.6;
  color: hsla(0, 0%, 100%, 0.75);
  margin: 3em 0em;
}

.lower-content {
  flex-direction: row;
  text-align: initial;
}


}